

table{
       
        background: WHITE;
        margin-top: 4rem;
        min-width:33vw;
       tbody {
         tr{
                list-style-type: none;
                 td{
             color: #545F7D;   
             font-size: 0.9vw;
            font-family: "Work Sans";
            padding-left: 1vw;
               margin-top: 2rem;
            
            }
            }
           }
            thead{
              border:0px;
               border-color: white;
             tr{ border:0px; 
                 border-color:white;

                
            img{
                height:0.4vw;
                margin-top: 1.7rem;
                padding-left: 1vw;
            }
            th{
                border:0px;
                border-color: white;
                font-size: 0.9vw;
                font-family: "Work Sans";
            font-weight: 600;
             padding-top: 3vh;
             padding-left: 3vw;
            color: #545F7D;
            }
           }
            }
            
        
    }

    
 @media only screen and (max-width : 768px) {
.usermain_container{

margin-top: -90rem;

}
 }
