.filter-popup {
  display: flex;
  width: 15.14vw;
  height: 38.18vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 1.32vw;
  box-shadow: 0px 0px 0.66vw rgba(0, 0, 0, 0.1);
  z-index: 1000;

  .filter-popup-content {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }

  .filter-field {
    width: 100%;
    margin-bottom: 0.99vw;
  }

  .filter-field label {
    display: block;
    font-family: 'Work Sans';
    font-size: 0.92vw;
    font-weight: 500;
    text-align: left;
    color: rgba(84, 95, 125, 1);
    margin-bottom: 0.3vw;
  }

  .filter-field input[type='text'] {
    width: 92.5%;
    height: 2.30vw;
    border: 0.0658vw solid rgba(33, 63, 125, 0.2);
    border-radius: 0.53vw;
    font-size: 0.92vw;
    padding-left: 0.99vw;
    color: rgba(84, 95, 125, 0.7);
  }
  .custo-select {
    position: relative;
    width: 100%;

    select {
      width: 100%;
      padding: 0.66vw 0.66vw 0.66vw 0.99vw;
      color: rgba(84, 95, 125, 0.7);
      border: 0.0658vw solid rgba(33, 63, 125, 0.2);
      border-radius: 0.53vw;
      font-size: 0.92vw;
      appearance: none; 
      option{
        color: rgba(84, 95, 125, 1);
      }
    }

    img {
      width:0.958vw;
      height:0.958vw;
      position: absolute;
      top: 50%;
      right: 1.32vw;
      transform: translateY(-50%);
      pointer-events: none;
    }
  }

  .custom-date-picker {
    position: relative;
    width: 100%;

    .date-picker-input {
      width: 14.15vw !important;
      color: rgba(84, 95, 125, 1);
      border: 0.66vw solid rgba(33, 63, 125, 0.2);
      border-radius: 0.53vw;
      font-size: 0.92vw;
    }

    img {
      width:0.958vw;
      height:0.958vw;
      position: absolute;
      top: 50%;
      right: 1.32vw;
      transform: translateY(-50%);
      pointer-events: none;
    }
  }

  .filter-buttons {
    display: flex;
    gap: 0.66vw;

    button {
      cursor: pointer;
      border-radius: 0.53vw;
      width: 6.45vw;
      height: 2.63vw;
      font-size: 0.92vw;
      font-family: 'Work Sans';
      background-color: transparent;
      color: rgba(84, 95, 125, 1);
      border: 0.0658vw solid rgba(84, 95, 125, 1);

      &:last-child {
        background-color: rgba(57, 205, 204, 1);
        color: #ffffff;
        border: none;
      }
    }
  }
}
@media screen and (max-width:800px) {
.filter-popup {
  display: flex;
  width: 15.14rem;
  height: 38.18rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 1.32rem;
  box-shadow: 0px 0px 0.66rem rgba(0, 0, 0, 0.1);
  z-index: 1000;
  .filter-popup-content {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }
  .filter-field {
    width: 100%;
    margin-bottom: 0.99rem;
  }
  .filter-field label {
    display: block;
    font-family: 'Work Sans';
    font-size: 0.92rem;
    font-weight: 500;
    text-align: left;
    color: rgba(84, 95, 125, 1);
    margin-bottom: 0.3rem;
  }
  .filter-field input[type='text'] {
    width: 92.5%;
    height: 2.30rem;
    border: 0.0658rem solid rgba(33, 63, 125, 0.2);
    border-radius: 0.53rem;
    font-size: 0.92rem;
    padding-left: 0.99rem;
    color: rgba(84, 95, 125, 0.7);
  }
  .custo-select {
    position: relative;
    width: 100%;
    select {
      width: 100%;
      padding: 0.66rem 0.66rem 0.66rem 0.99rem;
      color: rgba(84, 95, 125, 0.7);
      border: 0.0658rem solid rgba(33, 63, 125, 0.2);
      border-radius: 0.53rem;
      font-size: 0.92rem;
      appearance: none;
      option {
        color: rgba(84, 95, 125, 1);
      }
    }
    img {
      width: 0.958rem;
      height: 0.958rem;
      position: absolute;
      top: 50%;
      right: 1.32rem;
      transform: translateY(-50%);
      pointer-events: none;
    }
  }
  .custom-date-picker {
    position: relative;
    width: 100%;
    .date-picker-input {
      width: 14.15rem !important;
      color: rgba(84, 95, 125, 1);
      border: 0.66rem solid rgba(33, 63, 125, 0.2);
      border-radius: 0.53rem;
      font-size: 0.92rem;
    }
    img {
      width: 0.958rem;
      height: 0.958rem;
      position: absolute;
      top: 50%;
      right: 1.32rem;
      transform: translateY(-50%);
      pointer-events: none;
    }
  }
  .filter-buttons {
    display: flex;
    gap: 0.66rem;
    button {
      cursor: pointer;
      border-radius: 0.53rem;
      width: 6.45rem;
      height: 2.63rem;
      font-size: 0.92rem;
      font-family: 'Work Sans';
      background-color: transparent;
      color: rgba(84, 95, 125, 1);
      border: 0.0658rem solid rgba(84, 95, 125, 1);
      &:last-child {
        background-color: rgba(57, 205, 204, 1);
        color: #ffffff;
        border: none;
      }
    }
  }

}
}