
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 1);
    padding: 1vw 2.63vw;

  
  .logosearch{
    display: flex;
    flex-direction: row;
    align-items: center;
  .logo{
    margin-right: 13.2vw;
    img {
      width: 9.53vw; 
      height: 1.97vw; 
      
      }
  }
  .search {
    position: relative;
    display: flex;
    align-items: center;
    input {
      width: 26.33vw;
      height: 2.63vw;
      border-radius: 0.53vw;
      border: 0.066vw solid rgba(33, 63, 125, 0.2);
      padding-left: 1.32vw; 
      font-size: 0.92vw;
      &::placeholder {
        font-family: 'Work Sans';
        font-size: 0.92vw;
        font-weight: 400;
        letter-spacing: 0.5px;
        text-align: left;
        color: rgba(84, 95, 125, 1);
        opacity: 0.5;
      }
      &:focus {
                outline: none;
                border:  1px solid rgba(33, 63, 125, 0.2);
                box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
      }
    }
  
    .search_iconbackgnd {
      position: absolute;
      right: 0;
      background-color: rgba(57, 205, 204, 1);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3.69vw;
      height: 2.9vw;
      border-top-right-radius: 0.53vw;
      border-bottom-right-radius: 0.53vw;
  
      .search-icon {
        color: #fff;
        width: 0.92vw;
        height: 1.92vh;
      }
    }
  }
}


  .navbar-nav {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap:10%;
    margin-right: 1.975vw;
  }
  
  .nav-item {
    margin-right: 1.975vw;
  }
  .nav-item_notify {
     margin-right: 0.658vw;
  }
  .nav-link {
    text-decoration: underline;
    font-family: 'Roboto';
    font-size: 1.05vw;
    font-weight: 400;
    text-align: left;
    color: rgba(33, 63, 125, 1);
  }
  .notify{
    width: 1.71vw;
    height: 1.71vw;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  .profile {
    position: relative;
    display: flex;
    align-items: center;
    gap:1.318vw;
    img{
        width: 3.16vw;
        height: 3.16vw;
        border-radius: 100px;
    }
    .profile-name{
        font-family: 'Work Sans';
        font-size: 1.05vw;
        font-weight: 500;
        color:rgba(33, 63, 125, 1);
        text-align: left;  
    }
    .profile-info {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap:0.2vw;
        .drop_icon{
            width: 1.32vw;
            height: 1.32vw;         
        }
      }
  }
}