.details-container {
    margin-left: 19vw; 
    background-color: rgba(210, 212, 224, 0.15);
    overflow-y: scroll;
    height: 100vh;
    .user_backbtn{
        margin-bottom: 1.7vw;
        width:9.999vw;
        height: 1.977vw;
        cursor: pointer;
        img{
            width:9.999vw;
            height: 1.977vw;
        }
    }
    .userbtn_title{
        display: flex;
        flex-direction: row;
       align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 2vw;
        .blackactive_btn{
            display: flex;
            gap:1.5vw;
            align-items: center;
        .blacklist_btn{
            cursor: pointer;
            font-family: 'Work Sans';
            font-size: 0.92vw;
            font-weight: 600;
            text-align: center;
            color:rgba(228, 3, 59, 1);
            background-color: transparent;
           text-transform: uppercase;
           border-radius: 0.527vw;
           border:0.066vw solid rgba(228, 3, 59, 1);
           width:11.21vw;
           height: 2.636vw;
        }
        .activate_btn{
            cursor: pointer;
            font-family: 'Work Sans';
            font-size: 0.92vw;
            font-weight: 600;
            text-align: center;
            color:rgba(57, 205, 204, 1);
            background-color: transparent;
           text-transform: uppercase;
           border-radius: 0.527vw;
           border:0.066vw solid rgba(57, 205, 204, 1);
           width:11.21vw;
           height: 2.636vw;
        }
    }
    }
    .dashboard_main{
        padding: 4vw 4vw;
        margin-bottom: 10vw;
    }
    h2{
        //margin-top: 30px;
        margin-bottom: 1.97vw;
        font-family: 'Work Sans';
        font-size: 1.58vw;
        font-weight: 500;
        text-align: left;
        color: rgba(33, 63, 125, 1);
    }
    .dashboard-cards{
        background-color: white;
        display: flex;
        flex-direction: column;
        
    }
    .userdetails_overview{
        display: flex;
        flex-direction: row;
        gap:1.1vw;
        align-items: center;
        margin-bottom: 3vw;
        padding: 2.5vw 2.0vw 0vw 2.0vw;
        .tr_line{
            border-right: 0.1vw solid rgba(33, 63, 125, 0.1);
            height: 5vw;
            margin: 0 0.5vw 0 0.5vw;
           }
        .overview_column{
            display: flex;
            flex-direction: column;
            gap:0.4vw;
            span{
                font-family: 'Work Sans';
                font-size: 1.45vw;
                font-weight: 500;
                line-height: 25.81px;
                text-align: left;
                color:rgba(33, 63, 125, 1)
            }
            p{
                font-family: 'Work Sans';
                font-size: 0.92vw;
                font-weight: 400;
                line-height: 16.42px;
                text-align: left;
                color:rgba(84, 95, 125, 1)
            }
            .Tier{
                font-family: 'Work Sans';
                font-size: 14px;
                font-weight: 500;
                line-height: 16.42px;
                text-align: left;
                 color:rgba(84, 95, 125, 1);
            }
            .star{
                display: flex;
                gap:0.3vw;
            }
        }
    }
    .userdetails_nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin-left: 0.5vw;
        padding: 0vw 1.5vw 0vw 1.5vw;
    .user_nav{
        font-family: 'SF Compact Text';
        font-size: 1.05vw;
        font-weight: 400;
        line-height: 19.09px;
        text-align: center;
         color:rgba(0, 0, 0, 0.8);
         display: flex;
         justify-content: center;
         width: 170px;
         cursor: pointer;
         span{
            margin-bottom: 0.5vw; 
         }
    }
    .user_nav:hover,
    .user_nav.active {
        font-family: 'Work Sans';
      color: rgba(57, 205, 204, 1);
      border-bottom: 2px solid rgba(57, 205, 204, 1);

    }
    }

  }
