.sidebar_main{
  height: 100vh;
  position: fixed;
  overflow-y: auto;
}
.sidebar {
  width: 15vw;
  padding: 1.97vw 1.6vw 6vw 2.63vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.5vw;
}

.org-switch {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.switch {
  margin-right: 0.758vw;
  font-family: 'Work Sans';
  font-size: 1.05vw;
  font-weight: 400;
  text-align: left;
  color: rgba(33, 63, 125, 1);
}

.sidebar-menu {
  .section-title {
    margin-top: 0px;
    margin-bottom:1.5vw;
    font-family: 'Work Sans';
    font-size: 0.79vw;
    font-weight: 500;
    text-align: left;
    color:rgba(84, 95, 125, 1)
  }
  .reactive-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom:2vw;
    font-family: 'Work Sans';
    font-size: 1.05vw;
    font-weight: 400;
    text-align: left;
    color: rgba(33, 63, 125, 1);
    opacity: 70%;
  }
  .reactive-link:hover{
    border-left: 0.3vw solid rgba(57, 205, 204, 1);
    background-color: rgba(57, 205, 204, 0.06);
    padding: 0.5vw 0vw 0.5vw 2.35vw;
    opacity: 100%;
    margin: -0.5vw  0vw 1.5vw -2.63vw;
    width: 18.63vw;
  }
  .active-link {
    background-color: rgba(57, 205, 204, 0.06);
   width: 18.63vw;
    border-left: 0.3vw solid rgba(57, 205, 204, 1);
    padding: 0.5vw 0vw 0.5vw 2.35vw;
    opacity: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: -0.5vw  0vw 1.5vw -2.63vw;
    font-family: 'Work Sans';
    font-size: 1.05vw;
    font-weight: 400;
    text-align: left;
    color: rgba(33, 63, 125, 1);
  }
  
}
.switch_org{
  width: 1.053vw;
  height:1.053vw;
}
.icon_arrow {
  width:0.921vw;
  height:0.921vw;
  margin-right: 0.758vw;
}
.dash_icon{
  margin-right: 0.758vw;
  width:1.053vw;
  height:0.936vw;
}
.icon {
  width:1.053vw;
  height:0.842vw;
  margin-right: 0.758vw;
}

