.sidebar_main{
  height: 100vh;
  position: fixed;
  overflow-y: auto;
}
.sidebar {
  width: 15vw;
  padding: 1.97vw 1.6vw 6vw 2.63vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.5vw;
}

.org-switch {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.switch {
  margin-right: 0.758vw;
  font-family: 'Work Sans';
  font-size: 1.05vw;
  font-weight: 400;
  text-align: left;
  color: rgba(33, 63, 125, 1);
}

.sidebar-menu {
  .section-title {
    margin-top: 0px;
    margin-bottom:1.5vw;
    font-family: 'Work Sans';
    font-size: 0.79vw;
    font-weight: 500;
    text-align: left;
    color:rgba(84, 95, 125, 1)
  }
  .reactive-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom:2vw;
    font-family: 'Work Sans';
    font-size: 1.05vw;
    font-weight: 400;
    text-align: left;
    color: rgba(33, 63, 125, 1);
    opacity: 70%;
  }
  .reactive-link:hover{
    border-left: 0.3vw solid rgba(57, 205, 204, 1);
    background-color: rgba(57, 205, 204, 0.06);
    padding: 0.5vw 0vw 0.5vw 2.35vw;
    opacity: 100%;
    margin: -0.5vw  0vw 1.5vw -2.63vw;
    width: 18.63vw;
  }
  .active-link {
    background-color: rgba(57, 205, 204, 0.06);
   width: 18.63vw;
    border-left: 0.3vw solid rgba(57, 205, 204, 1);
    padding: 0.5vw 0vw 0.5vw 2.35vw;
    opacity: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: -0.5vw  0vw 1.5vw -2.63vw;
    font-family: 'Work Sans';
    font-size: 1.05vw;
    font-weight: 400;
    text-align: left;
    color: rgba(33, 63, 125, 1);
  }
  
}
.switch_org{
  width: 1.053vw;
  height:1.053vw;
}
.icon_arrow {
  width:0.921vw;
  height:0.921vw;
  margin-right: 0.758vw;
}
.dash_icon{
  margin-right: 0.758vw;
  width:1.053vw;
  height:0.936vw;
}
.icon {
  width:1.053vw;
  height:0.842vw;
  margin-right: 0.758vw;
}



@media (max-width: 800px) {
  .sidebar_main{
    display: none;
    height: 100vh;
  }
  .open{
    display: block;
    width: 100vw; 
    height: 100vh;
    position: fixed;
    overflow-y: auto;
    background-color: rgba(91, 86, 86, 0.5); 
    z-index: 1000;
    transition: transform 0.3s ease; 
    transform: translateX(0); 
  }
  .sidebar {
    width: 70%; 
    padding: 1.97rem 1.6rem 10rem 2.63rem;
   //height: 100vh;
    background-color: #fff; 
    transition: transform 0.3s ease; 
    transform: translateX(0); 
  }
  .sidebar-header {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
  }
  .switch {
    margin-right: 0.758rem;
    font-size: 1.05rem;
  }
  .sidebar-menu {
    .section-title {
      margin-bottom:1.5rem;
      font-family: 'Work Sans';
      font-size: 0.79rem;
    }
    .reactive-link{
      margin-bottom:2rem;
      font-size: 1.05rem;
    }
    .reactive-link:hover{
      border-left: 0.3rem solid rgba(57, 205, 204, 1);
      background-color: rgba(57, 205, 204, 0.06);
      padding: 0.5rem 0 0.5rem 2.35rem;
      margin: -0.5rem  0 1.5rem -2.63rem;
      width: 100%;
    }
    .active-link {
     width: 100%;
      border-left: 0.3rem solid rgba(57, 205, 204, 1);
      padding: 0.5rem 0 0.5rem 2.35rem;
      margin: -0.5rem 0 1.5rem -2.63rem;
      font-size: 1.05rem;
    }
    
  }
  .switch_org{
    width: 1.053rem;
    height:1.053rem;
  }
  .icon_arrow {
    width:0.921rem;
    height:0.921rem;
    margin-right: 0.758rem;
  }
  .dash_icon{
    margin-right: 0.758rem;
    width:1.053rem;
    height:0.936rem;
  }
  .icon {
    width:1.053rem;
    height:0.842rem;
    margin-right: 0.758rem;
  }
  
}
