.lendsqr-table{
  background-color: white;
  padding: 2vw;
  margin-top: 4vw;
.table {
    width: 100%;
    border-collapse: collapse;
    tr{
      display: flex;
      align-items:center;
      justify-content: space-between;
     
    }
   .tr_line{
    border-bottom: 1px solid rgba(33, 63, 125, 0.1);
   }
    th {
      display: flex;
      align-items:center;
      gap:0.5vw;
      //flex-direction: row;
      font-family: 'Work Sans';
      font-size: 0.79vw;
      font-weight: 600;
      text-align: left;
      color:rgba(84, 95, 125, 1);
      margin-bottom: 1vw;
      img{
        width:1.05vw;
        height:1.05vw;
      }
    }
     .status{
      display: flex;
      height: 1.97vw;
      border-radius: 6.59vw;
      align-items: center;
      justify-content: center;
     }

     .Active {
      width: 4.61vw; 
    }
    
    .Pending {
      width: 5.93vw;
    }
    
    .Blacklisted {
      width: 6.59vw; 
    }
    
    .Inactive {
      width: 5.27vw; 
    }
    td {
      font-family: 'Work Sans';
      padding: 1vw 0vw;
      font-size:0.92vw;
      font-weight: 400;
      //line-height: 16.42px;
      text-align: left;
      align-items:center;
      color:rgba(84, 95, 125, 1);
      img{
        width:1.32vw;
        height:1.32vw;
        //width:0.22vw;
        //height: 0.95vw;
      }
    }
  }

  th:first-child,
  td:first-child {
    width: 15.83%;
  }
  
  th:nth-child(2),
  td:nth-child(2) {
    width: 20%;
  }
  
  th:nth-child(3),
  td:nth-child(3) {
    width: 20%;
  }
  
  th:nth-child(4),
  td:nth-child(4) {
    width: 20%;
  }
  
  th:nth-child(5),
  td:nth-child(5) {
    width: 20%;
  }
  
  th:nth-child(6),
  td:nth-child(6) {
    width: 15%;
  }
  th:nth-child(7),
td:nth-child(7) {
width: 1%;
}
}
  
